body {
  margin-top: 0px;
  font-size: 16px !important;
}
.nav-bar{
  font-size: 16px;
}
.nav-item .nav-link:hover{
  color:white;

}

.theme-dropdown .dropdown-menu{
  position:static;
  display:block;
  margin-bottom: 20px;
}



h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}


#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:90%;
  margin-left:40px;
}

#showcase{
  margin-top:90px;
}
.showcase-right{
  margin-top:80px;

}

#research{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:30px;
}
#research h1{
  margin-top:10px;
}

#research p{
  font-size:25px;
  font-family: 'Josefin Sans';
  color:#000;
}

#research p.customer{
  font-size:20px;
  color:#666;
}
.res{
  margin-bottom: 40px !important;
}
.pub{
  margin-bottom: 40px !important;
}

#info1{
  margin:20px 0 60px 0;

}

ul.pub {
  list-style-type: square;
}
.publi{
  margin-bottom: 40px;
}
#info2{
  background:#f1f1f1;
  margin:20px 0 60px 0;
}


#technical{
  color:#000;
 
}

#workshop{
  background:#f1f1f1;
  margin:20px 0 60px 0;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.my-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 300px !important;
  margin-bottom: 50px;
}
#about{
  background:#f1f1f1;
  padding: 50px 0 30px 0;
}

footer{
  padding:30px;
}
.around{
  margin-top: 50px;
  color:black;
  text-align: center;

}
.centerdiv{
  height:15vh;
  display:flex;
  justify-content: center;
  align-items: center;
}
.icon{
  height: 55px;
  width:55px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 17px;
  border-radius: 50px;
  margin:10px;
  line-height: 67px;
  box-shadow: 3px #dcdde1;
  margin-bottom: 50px !important;
}
.icon i{
  transition: all 0.3s linear;
  
}
.icon:hover i{
  transform: scale(1.4);
}
.myicon{
  height: 55px;
  width:55px;
  background-color: whitesmoke;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  margin:10px;
  line-height: 52px;
  box-shadow: 3px #dcdde1;
  margin-bottom: 50px !important;
}
.myicon i{
  transition: all 0.3s linear;
  
}
.myicon:hover i{
  transform: scale(1.4);
}
.fa-github{
  color:black;
}
.fa-linkedin{
  color:darkblue;
}
.fa-orcid{
  color:greenyellow;
}
.fa-envelope{
  color:#D44638;
}
